html, body {
    height: 175px;
    width: 200px;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #040822;
}

#popup-title {
    text-align: center;
    margin-bottom: 0px;
}

#link-container {
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}

a {
    color: white;
}

#content {
    display: none;
}

#no-content {
    display: none;;
    text-align: center;
    padding: 5px;
}

.slide_content {
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.slide_content div {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.slide_content span {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}